{
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "react-hot-loader/babel",
        [
            "module-resolver",
            {
                "root": [ "./src" ],
                "extensions": [ ".ts", ".tsx", ".js", ".jsx", ".es", ".es6", ".mjs" ]
            }
        ]
    ]
}
